@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&family=Sacramento&display=swap");

:root {
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;

  --card-border-radius: 12px;

  --color-primary: #131316;
  --color-secondary: rgb(55, 55, 58);
  --color-tertiary: white;
  --color-accent: rgb(1, 1, 156);
  --color-accent-hover: rgba(1, 1, 156, 0.364);
  --color-content-over-primary: white;
  --color-content-over-secondary: white;
  --color-content-over-tertiary: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  background-color: var(--color-secondary);
  color: var(--color-content-over-primary);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
  display: block;
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--spacing-medium);
}

h1 {
  font-size: 24px;
  justify-content: center;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}

h2 {
  font-size: 18px;
  justify-content: center;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}

.main-container {
  display: flex;
  margin-right: var(--spacing-medium);
  margin-left: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  gap: var(--spacing-medium);
  height: 85vh;
}

.lateral-bar {
  padding: var(--spacing-small);
  flex-grow: 0;
}

@keyframes fall-in-animation {
  from {
    filter: blur(4px);
    top: -200px;
  }
  to {
    top: 0px;
  }
}

.lateral-bar-item,
.hierarchy-row,
.hierarchy-card {
  position: relative;
  animation-name: fall-in-animation;
  animation-duration: 500ms;
}

.lateral-bar-item:nth-child(1) {
  animation-duration: 300ms;
}
.lateral-bar-item:nth-child(2) {
  animation-duration: 400ms;
}
.lateral-bar-item:nth-child(3) {
  animation-duration: 500ms;
}
.lateral-bar-item:nth-child(4) {
  animation-duration: 600ms;
}
.lateral-bar-item:nth-child(5) {
  animation-duration: 700ms;
}

@media (prefers-reduced-motion) {
  .lateral-bar {
    transition: none;
  }
}

.inputs,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  margin: var(--spacing-small);
  margin-top: var(--spacing-medium);
}

.flex-divider {
  flex-shrink: 0;
  width: 100%;
}

.input-box,
.info-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  font-size: 10px;
  font-weight: bold;
}

.input-box label,
.info-box label {
  margin-left: var(--spacing-xsmall);
}

.input-box input,
.info-box input {
  border-width: 2px;
  border-radius: var(--card-border-radius);
  padding: var(--spacing-small);
  font-family: monospace;
}

.info h2 {
  text-align: center;
  align-self: center;
}

.input-box input:hover {
  box-shadow: 0px 2px 2px 0px var(--color-accent-hover);
}

.input-box input:focus {
  box-shadow: 0px 2px 2px 0px var(--color-accent-hover);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
}

.hierarchy-content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  background-color: var(--color-secondary);
  flex-grow: 1;
  align-items: center;
  gap: var(--spacing-medium);
  overflow: visible;
}

.hierarchy-row {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-small);
  background-color: var(--color-secondary);
  gap: var(--spacing-small);
}

.flex-divider-vertical {
  flex-shrink: 0;
  width: 1px;
  background-color: var(--color-content-over-primary);
}

.hierarchy-card {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 100px;
  max-height: 50px;
  min-height: 50px;
  background-color: var(--color-tertiary);
  color: var(--color-content-over-tertiary);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 10px;
}

.hierarchy-card-title {
  background-color: var(--color-accent);
  color: var(--color-content-over-secondary);
  width: 100%;
  min-height: 20%;
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
  text-align: center;
  font-size: 7px;
  font-weight: bolder;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.hierarchy-card span {
  display: inline-block;
  vertical-align: middle;
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
  padding-top: var(--spacing-xsmall);
  line-height: normal;
  text-align: center;
  text-overflow: ellipsis;
}

